html, body {
    height: 100%;
}

a.current {
    text-decoration: underline;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.container-main {
    font-size: 22px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.light-link {
    color: #333;
    text-decoration: underline;
}

.glyphicon {
    top: 6px;
}
