{% extends 'personal_site/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="margin-top: 60px">
        <div class="col-xs-12">
            <img src="{% static 'personal_site/img/test.jpg' %}" class="img-rounded img-responsive" style="width: 80%; margin: auto">
        </div>
    </div>
    <div class="row" style="margin-top: 40px; text-align:justify">
        <div class="col-xs-12">
            <p>
                I'm currently leading data ETL operations at <a class="light-link" href="https://www.energysavvy.com" target="_blank">EnergySavvy</a>
                in Seattle. My passion for solving new and interesting problems has
                led me on a path through manufacturing, finance, and, currently,
                software development. To learn more about my recent work, check out
                my <a class="light-link" target="_blank" href="/portfolio">portfolio</a>.
            </p>
            <p>
                Outside of the office, I enjoy long bike rides, picnics at Gas Works park, eating donuts,
                and finding new hiking trails to explore. I am always eager to learn something new. Last year,
                I completed a 6 month course on Machine Learning, and I have recently started teaching myself piano.
            </p>
            <p>
                <a style="text-decoration: none;" href="mailto:{{ environ.EMAIL }}" target="_blank">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color: #333;"></span>
                </a>
                <a style="text-decoration: none;" href="{{ environ.GITHUB }}" target="_blank">
                    <img src="/static/personal_site/img/github3.png" style="margin-left:5px;width:22px;height:22px;"></img>
                </a>
                <a style="text-decoration: none;" href="{{ environ.LINKEDIN }}" target="_blank">
                    <img src="/static/personal_site/img/linkedin4.png" style="margin-left:5px;width:22px;height:22px;"></img>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
