{% extends 'personal_site/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h3>{{ environ.NAME }}</h3>
            <h4 style="padding-bottom: 15px;">{{ environ.TAGLINE }}</h4>
            <p>{{ environ.BIO|safe }}
            <p>
                <a href="mailto:{{ environ.EMAIL }}" target="_blank">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color: white;"></span>
                </a>
                <a href="{{ environ.GITHUB }}" target="_blank">
                    <img src="/static/personal_site/img/github2.png" style="margin-left:5px;width:22px;height:22px;"></img>
                </a>
                <a href="{{ environ.LINKEDIN }}" target="_blank">
                    <img src="/static/personal_site/img/linkedin3.png" style="margin-left:5px;width:27px;height:22px;"></img>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
